.Header {
    background-color: #EDA731!important;
    position: relative;
    left:0;
    right:0;
    top:0;
    width: 100%;
    box-sizing: border-box;
}

.toolbar {
    padding-right: 79px;
    padding-left: 118px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}