body {
    margin-bottom:50px;
}

.container-div{ 
    position: relative; 
    padding-top: 100px;
    height: 100%;
}

.platypusPic {
    position:absolute;
    top: 230px;
    margin-left: 30%;
    z-index: 1;
}

.darkLink{
    color:orange;
}

.textContent {
    margin-left: 20%;
}