body {
    margin-bottom:50px;
}

.container-div{ 
    position: relative;
    display: flex;
    width: 100%; 
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loading {
    background: rgb(219, 136, 80);
}